:root {
    --special-font: 'Cedarville Cursive', cursive;
    --normal-font: 'Rubik', sans-serif;
    --main-color: #ffe2e9;
    --primary-dark: #be5b8c;
    --primary-light: #ecb2c0;
    --secondary-dark: #791649;
    --secondary-light: #fdd8e2;
    --highlight: #9c1d5f;
    
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-height: 100svh;
    width: 100%;
    box-sizing: border-box;
    background-color: var(--main-color);
    font-family: var(--normal-font);
    color: var(--primary-dark);
}

header {
    min-height: 50px;
    width: 100%;
    font-family: var(--special-font);
    font-size: 1.7em;
    padding: 10px 0;
    background-color: var(--primary-light);
}

main {
    flex: 1;
    flex-direction: column;
}

footer {
    min-height: 50px;
    font-family: var(--special-font);
    font-size: 1.5em;
    margin: 20px auto;
}

button {
    border: none;
    border-radius: 50px;
    background-color: var(--primary-dark);
    color: white;
    font-weight: bold;
    padding: 10px 20px;
}

button:hover, .active {
    background-color: var(--highlight);
}

button, input {
    cursor: pointer;
}

h2 {
    margin-bottom: 10px;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: underline;
}

input[type="color"] {
    width: 60px;
    height: 60px;
    border: none;
    background-color: transparent;
    align-self: center;
    margin-bottom: 20px;
    margin-top: 10px;
}

input[type="range"] {
    accent-color: var(--primary-dark);
    margin-bottom: 10px;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cards {
    margin: 30px auto;
    display: flex;
    display: none;
}

.info-card {
    max-width: 400px;
    background-color: var(--secondary-dark);
    color: var(--main-color);
    padding: 25px 60px;
    margin-left: 10px;
    border-radius: 5px;
    border-left: 10px solid var(--highlight);
}

.container {
    display: flex;
}

.toolbox {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 30px;
    height: 350px;
    background-color: var(--secondary-light);
    padding: 10px;
}

.buttons {
    display: flex;
    flex-direction: column;
    height: 250px;
}

.buttons button {
    margin-bottom: 10px;
}

.scroll {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.scroll label {
    font-weight: bold;
    margin-bottom: 10px;
}

.grid-container {
    width: 600px;
    height: 600px;
    background-color: white;
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);
    overflow: hidden;
}

.grid-container div {
    border: 1px solid #f0f0f0;
    aspect-ratio: 1;
    cursor: pointer;
}